.resizedTextbox {
  width: 398px;
  height: 30px;
  margin-bottom: 10px;
}

.cardContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 350px;
  padding: 2px 16px;
  background-color: white;
}

.cardContainer:hover {
  background-color: lightgray;
}

.selectedcardContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 350px;
  padding: 2px 16px;
  background-color: lightgray;
}

.dropDown {
  z-index: 1;
  position: fixed;
}
